<div id="${id}_tmpl" class="${baseClass}" tabindex="-1">
	<input  data-dojo-type="dijit/form/TextBox"           data-dojo-attach-point="hValueNode"       name="${name}" type="hidden" value="${value}" />
	<input  data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="vValueNode"       tabindex="-1" type="text" value="${value}" />
	<button data-dojo-type="dijit/form/Button"            data-dojo-attach-point="pickItButtonNode" data-dojo-props="iconClass:'${buttonIconClass}', showLabel: ${buttonShowLabel}">${buttonTitle}</button>
</div>
